 body,html{
	margin:0;
	padding: 0;
	width: 100%;

}

body{
    width:100%;
    height: 650px;
    background-image: url(friend.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: "Times New Roman"
    border-radius: 0 0 500px 0;
}

.container{
	width: 100%;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.container h1{
	color:#A402BE;
	text-transform: uppercase;
	font-size: 60px;
	margin: 20px;
	letter-spacing: 10px;
}

.shra {
 position: fixed;
 bottom: 0vh;
 color: red;
 font-size: 3rem;
 animation: fall 3s linear forwards;
}

@keyframes fall {
  to {top:0; transform: translateY(-200vh);}
}

